<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Madero Eventos </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Madero Eventos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="menu">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Clientes" asp-action="Index">Cliente/Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Eventoes" asp-action="Index">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Reservas" asp-action="Index">Reservas</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer">
        <div class="datos">
            <a href="https://goo.gl/maps/Kdq2Fjnsu8x" target="_blank"><h5> Dirección: Godoy Cruz 1875</h5></a>
            <a href="tel:01148319574" target="_blank"><h5> Telefono: 011 4831-9574</h5></a>
            <h5> © 2017 Resto Ort</h5>
        </div>

        <div class="social">

            <a href="https://www.youtube.com/" class="redes"><i class="fa fa-youtube"></i></a>

            <a href="https://www.facebook.com/" class="redes"><i class="fa fa-facebook"></i></a>

            <a href="https://twitter.com/home" class="redes"><i class="fa fa-twitter"></i></a>

            <a href="https://www.instagram.com/" class="redes"><i class="fa fa-instagram"></i></a>

        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
